services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: fleamarket-app
    volumes:
      - ./laravel-app:/var/www/html
    working_dir: /var/www/html
    depends_on:
      - mysql
      - mailhog

  nginx:
    image: nginx:alpine
    container_name: fleamarket-nginx
    ports:
      - "8083:80"
    volumes:
      - ./laravel-app:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  mysql:
    image: mysql:8.0
    container_name: fleamarket-db

    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: fleamarket
      MYSQL_ROOT_PASSWORD: rootpassword
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: fleamarket-pma
    ports:
      - "8084:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: rootpassword

    depends_on:
      - mysql

  mailhog:
    image: mailhog/mailhog
    container_name: fleamarket-mailhog
    ports:
      - "1025:1025"
      - "8025:8025"


volumes:
  db_data:
