
.address-update-container {
    max-width: 900px;
    margin: 60px auto;
    padding: 20px;

}

.address-update-container input {
    font-size: 18px;
    height: 50px;
    width: 100%;
    max-width: 800px;
    padding: 12px 16px;
    margin: 10px auto;
    display: block;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #5F5F5F;
}

.page-title {
    font-size: 48px;
    margin-bottom: 30px;
    text-align: center;
}

.form-group {
    max-width: 800px;
    margin: 0 auto 20px;
    font-weight: bold;
}

.address-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    text-align: left;
}

.submit-button {
    width: 100%;
    max-width: 800px;
    padding: 10px;
    font-size: 24px;
    margin: 60px auto 10px;
    display: block;
    background-color: #FF5555;
    color: #FFFFFF;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.error-message {
    color: #FF5555;

}