body {
    font-family: sans-serif;
}

.login-container {
    max-width: 900px;
    margin: 80px auto;
    padding: 20px;

}

.login-container h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}


.login-container input {
    font-size: 18px;
    height: 60px;
    padding: 12px 16px;
    width: 100%;
    margin: 10px auto;
    display: block;
    box-sizing: border-box;
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    max-width: 800px;
    height: 60px;
    padding: 10px;
    font-size: 24px;
    margin: 60px auto 10px;
    display: block;
    background-color: #FF5555;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}

.form-group {
    font-weight: bold;
    max-width: 800px;
    margin: 0 auto 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    text-align: left;
}

button:hover {
    background-color: #5F5F5F;
}

.register-link {
    text-align: center;
    margin-top: 40px;
}

.register-link a {
    text-decoration: none;
    color: #0073CC;
    font-size: 20px;
}

.error-message {
    color: #FF5555!important;
}