.mypage {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-bottom: 48px;
}

.user-profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 140px;
}

.edit-button {
    margin-left: 200px;
    font-size: 18px;
    padding: 8px 16px;
    color: #FF5555;
    border: 1px solid #FF5555;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
}

.tabs {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.tab {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.item-grid {
    max-width: 1200px;
    margin: 70px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 0 20px;
}
.item-card {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 12px;
    align-items: center;
    cursor: pointer;
}
.item-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.item-card p {
    margin-top: 8px;
    font-size: 18px;
    text-align: center;
}

.mypage-tabs {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
}

.tab-buttons {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    border-bottom: 3px solid #5F5F5F;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    padding: 16px 0;
}

.tab-button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #5F5F5F;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.tab-button.active {
    color: #FF0000;

}

.tab-content {
    margin-top: 24px;
}

