.purchase-layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: 48px;
}

.main-form {
    flex: 1.9;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.item-section {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
}

.item-section img {
    margin-top: 60px;
    width: 200px;
    border-radius: 8px;
    margin-bottom: 16px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item-name {
    font-size: 18px;
        font-weight: bold;
        margin: 0
}

.item-price {
font-size: 16px;
    color: #000000;
    margin: 0;
}

.payment-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid #000000;
    padding-top: 12px;
    margin-top: 16px;
    gap: 36px;
}

.address-section {
    display: flex;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 16px;
}

.address-section input{
    margin-bottom: 8px;
}

.address-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.change-button {
    background: none;
    border: none;
    color: #0073CC;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}
.purchase-button {
    display: block;
    width: 100%;
    padding: 12px 24px;
    background-color: #FF5555;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 48px;
}

.summary-panel {
    margin-top: 60px;
    border: 1px solid #000000;
    padding: 16px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.summary-divider {
    border-top: 1px solid #000000;
    width: 60%;
    margin: 12px auto;
    border:none;
}

.full-divider {
    border: none;
    border-top: 1px solid #000000;
    width: 100%;
    margin: 12px 0;
}

.summary-wrapper {
    flex: 1;
    border: none;
    width: 20%;
    margin: 12px auto;
    margin-right: 48px;
    margin-left: 60px;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
}

.summary-label {
    font-weight: bold;
    font-size: 16px;
}

.summary-value {
    margin-left: 24px;
    font-size: 16px;
}