.register-container {
    max-width: 900px;
    margin: 60px auto;
    padding: 20px;
}

.register-container h2 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
}

.register-container input {
    font-size: 18px;
    height: 60px;
    width: 100%;
    max-width: 800px;
    padding: 12px 16px;
    margin: 10px auto;
    display: block;
    box-sizing: border-box;
}

.register-container button {
    width: 100%;
    max-width: 800px;
    .register-container {
    max-width: 900px;
    margin: 60px auto;
    padding: 20px;
}

.register-container h2 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
}

.register-container input {
    font-size: 18px;
    height: 50px;
    width: 100%;
    max-width: 800px;
    padding: 12px 16px;
    margin: 10px auto;
    display: block;
    box-sizing: border-box;
}

.register-container button {
    width: 100%;
    max-width: 800px;
    height: 60px;
    padding: 10px;
    font-size: 24px;
    margin: 60px auto 10px;
    display: block;
    background-color: #FF5555;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}

.form-group {
    max-width: 800px;
    margin: 0 auto 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    text-align: left;
}

.error-messages {
    color: red;
    font-size: 16px;
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

.error-messages li {
    margin-bottom: 5px;
}

.register-link a {
    text-decoration: none;
    color:rgb(31, 65, 134);
    font-size: 18px;
}

.register-link a:hover {
    color: #5F5F5F;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.error-message {
    color: #FF5555!important;

}
    padding: 10px;
    font-size: 24px;
    margin: 60px auto 10px;
    display: block;
    background-color: #FF5555;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}

.form-group {
    max-width: 800px;
    margin: 0 auto 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    text-align: left;
}

.error-messages li {
    margin-bottom: 5px;
}

.register-link a {
    text-decoration: none;
    color:rgb(31, 65, 134);
    font-size: 18px;
}

.register-link a:hover {
    color: #5F5F5F;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.error-message {
    color: #FF5555;

}