.item-header {
    display: flex;
    gap: 96px;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.item-image {
    flex: 0 0 550px;
}

.item-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.item-info {
    flex: 1;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.item-info h2 {
    font-size: 32px;
    margin-bottom: 8px;
}

.item-detail {
    max-width: 1540px;
    min-width: 1400px;
    margin: 80px auto 0;
    padding: 40px 24px;
}

.brand {
    font-size: 18px;
    color: #555;
}

.price {
    font-size: 24px;
    margin: 8px 0;
}


.purchase-button {
    background-color: #FF5555;
    color: white;
    font-size: 24px;
    width: 100%;
    padding: 10px 20px;
    border: none;
    display: inline-block;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
    align-self: flex-start;
}

.item-description,
.item-info-section,
.item-comments {
    margin-top: 32px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 18px;
}


.comment-block {
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;
    margin: 12px 0;
}

.comment-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    flex: 0 0 40px;
}

.comment-content {
    display: flex;
    flex-direction: column;
    gap: 6px
}

.comment-form-title {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
}

.item-comments textarea {
    width: 100%;
    height: 200px;
    margin-top: 12px;
    font-size: 24px;
    resize: vertical;
    box-sizing: border-box
}

.error-message {
    color: #FF5555;

}

.item-comments button {
    background-color: #FF5555;
    color: white;
    width: 100%;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    margin-top: 8px;
    font-size: 24px;
    cursor: pointer;
    box-sizing: border-box;
}

.item-stats {
    display: flex;
    gap: 24px;
}

.stat-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    padding: 0;
    gap: 6px;
}

.stat-count {
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.like-count {
    margin-top: 6px;
}

.icon-heart {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    object-fit: contain;
}

.icon-comment {
    width: 42px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    object-fit: contain;
}

.like-button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.soldout-badge {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 180px !important;
    height: auto !important;
    object-fit: cover;
    z-index: 10;
}

